.noticias-section {
    padding: var(--spacing-2xl) 0;
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url('../../assets/img/home/rei-ayanami-de-neon-genesis-evangelion_2560x1600_xtrafondos.com.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}


.noticias-section .section-subtitle {
    text-align: center;
    font-size: var(--font-size-xl);

}

.notices-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
}

